<section class="header">
    <img src="hero-image.jpg" alt="Hero image" class="hero-image">
    <div class="intro-text">
        <h1>Peace, nature, dream</h1>
        <p>Find and book a great experience.</p>
    </div>
    
</section>
<section class="filters">
    <div class="filter-container">
        <div class="location">
            <app-segment-control *ngFor="let locationItem of locationList; let first = first" [locationItem]="locationItem" [isFirst]="first" (selectionChange)="filterByLocation($event)"></app-segment-control>
        </div>
        <div class="superhost">
            <app-switch label="Superhost" (switchState)="filterSuperhost($event)"></app-switch>
        </div>
    </div>
</section>
<section class="properties">
    <h2 class="title">Over 200 stays</h2>
        @if (propertyList && propertyList.length > 0) {
            <div class="property-grid">
                <app-property-listing *ngFor="let propertyItem of filteredPropertyList" [propertyListing]="propertyItem"></app-property-listing>
            </div>
        } @else {
            <p>Loading..</p>
        }
</section>
