@import '../../../styles/styles.scss';

.header {
    position: relative;

    .hero-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .intro-text {
        position: absolute;
        top: 14.5vw;
        left: 11vw;
        color: $dark;
        width: 40%;

        h1 {
            @include h1;
            margin-bottom: 8px;
        }

        p {
            @include h2-regular;
        }
    }

    @include respond-medium {
        .intro-text {
            h1 {
                font-size: 3rem;
            }
        }
    }

    @include respond-small {
        .intro-text {
            width: 60%;
            h1 {
                font-size: 2.5rem;
            }
        }
    }
}

.properties {
    .title {
        @include h2-bold;
        color: $light;
        margin-bottom: 2rem;
    }

    .property-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 32px;
        row-gap: 72px;  
    }
}