<section class="header">
    <picture>
        <source media="(max-width: 720px)" srcset="hero-image-sm.jpg" />
        <img src="hero-image.jpg" alt="Hero image" class="hero-image">
    </picture>
    <!-- <img src="hero-image.jpg" alt="Hero image" class="hero-image"> -->
    <div class="intro-text">
        <h1>Peace, nature, dream</h1>
        <p>Find and book a great experience.</p>
    </div>
    
</section>
<section class="filters">
    <div class="filter-container">
        <div class="location">
            <app-segment-control *ngFor="let locationItem of locationList; let first = first" [locationItem]="locationItem" [isFirst]="first" (selectionChange)="filterByLocation($event)"></app-segment-control>
        </div>
        <div class="right">
            <div class="superhost">
                <app-switch label="Superhost" (switchState)="filterSuperhost($event)"></app-switch>
            </div>
            <div class="property-type">
                <app-dropdown [propertyType]="bedroomTypes" (selectionChange)="filterByType($event)"></app-dropdown>
            </div>
        </div> 
    </div>
</section>
<section class="properties">
    <h2 class="title">Available stays</h2>
        @if (filteredPropertyList && filteredPropertyList.length > 0) {
            <div class="property-grid">
                <app-property-listing *ngFor="let propertyItem of filteredPropertyList" [propertyListing]="propertyItem"></app-property-listing>
            </div>
        } @else if (isLoading) {
            <p class="loader">Loading..</p>
        } @else if (hasFailed) {
            <p class="error-message">Failed to load properties. Please try again later.</p>
        } @else {
            <p class="empty-state">No stays with the chosen parameters 🤷‍♂️</p>
        }
</section>
