@import '../../../styles/styles.scss';

.header {
    position: relative;

    .hero-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .intro-text {
        position: absolute;
        top: 14.5vw;
        left: 11vw;
        color: $dark;
        width: 40%;

        h1 {
            @include h1;
            margin-bottom: 8px;
        }

        p {
            @include h2-regular;
        }
    }

    @include respond-medium {
        .intro-text {
            h1 {
                font-size: 3rem;
            }
        }
    }

    @include respond-small {
        .intro-text {
            width: 60%;
            h1 {
                font-size: 2.5rem;
            }
        }
    }
}

.filters {
    margin: 0 auto;
    padding: 0 5.6vw;
    max-width: calc(1136px + (2 * 5.6vw));
    width: 100%;
    transform: translateY(-50%);
    z-index: 10;

    .filter-container {
        padding: 32px 40px 32px 40px;
        backdrop-filter: blur(12px);
        border-radius: 12px;
        border: 1px solid $grey-200;
        background-color: $grey-300;
        color: $light; 
        display: flex;
        align-items: center;
        justify-content: space-between;

        .location {
            width: fit-content;
            position: relative;
            
            &:has(input:focus-visible) {
                outline: 1.5px solid $blue;
                outline-offset: 3px;
                border-radius: 8px;
            }
        }

        .right {
            display: flex;
            gap: 16px;
        }
    }
}

.properties {
    padding: 0 5.6vw 80px 5.6vw;
    position: relative;
    margin: 0 auto;
    max-width: calc(1136px + (2 * 5.6vw));
    width: 100%;

    .title {
        @include h2-bold;
        color: $light;
        margin-bottom: 2rem;
    }

    .property-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 32px;
        row-gap: 72px;  
    }
}

@include respond-medium {
    .properties {
        .property-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@include respond-small {
    .properties {
        .property-grid {
            grid-template-columns: 1fr;
        }
    }
}