@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@mixin h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
}

@mixin h2-bold {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

@mixin h2-regular {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@mixin h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

@mixin body-bold {
    font-family: 'Outfit', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
}

@mixin body-regular {
    font-family: 'Outfit', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

@mixin label-bold {
    font-family: 'Outfit', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
}

@mixin label-regular {
    font-family: 'Outfit', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

@mixin label-s-bold {
    font-family: 'Outfit', sans-serif;
    font-size: 0.625rem;
    font-weight: 700;
}

@mixin price {
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
}